@mixin madFun {}

body {
  background-color: white;

  h1 {
    font-family: 'Rock Salt', cursive;
    color: purple;
    transition: transform 1s;
    margin-bottom: 70px;
    text-align: center;
  }

  .madlibHeader-appear.madlibHeader-appear-active h1 {
    transform: translateY(40px) rotate(7deg) skew(20deg);
    transition: transform .3s ease-in;
  }
}

.insertedText {
  animation: 1.5s ease-out infinite alternate colorz;
  transition: transform .3s ease-in;
}

.insertedText:hover {
  transform: translateY(40px) rotate(7deg) skew(20deg);
  font-size: 1.5em;
}

@keyframes colorz {
  0% {
    color: purple;
  }
  100% {
    color: red;
  }
}