body {
  background-color: lightpink;

  h1 {
    font-family: 'Rock Salt', cursive;
    color: purple;
    transition: transform 1s;
    margin-bottom: 70px;
    text-align: center;
  }

  // h1 {

  // }

  .madlibHeader-appear h1 {
    opacity: 0.01;
  }

  .madlibHeader-appear.madlibHeader-appear-active h1 {

    opacity: 1;
    transform: translateY(50px) rotate(10deg) skew(20deg);
    transition: opacity .5s ease-in, transform .5s ease-in;
  }
}
