body {
  background-color: white;

  h1 {
    font-family: 'Rock Salt', cursive;
    color: purple;
    transition: transform 1s;
    margin-bottom: 70px;
    text-align: center;
  }

  .madlibHeader-appear.madlibHeader-appear-active h1 {
    transform: translateY(40px) rotate(7deg) skew(20deg);
    transition: transform .3s ease-in;
  }
}
